.dashed-outline-container {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.textarea-custom{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    height: 250px!important;
    
}