.home {
  padding: 10px;
}

.title {
  font-size: 30px;
  text-align: center;
  padding: 12%;
}
.search {
  padding-bottom: 7%;
}
.delivery {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-bottom: 5%;
  height: 40px;
}
.buttonResize {
  border-radius: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}
.viewall {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20%;
  }

  
  .menuList {
    font-size: 12px;
    /*width: 70vw; */
    height: auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*place-items: center; */
  }
  
  /* MENU ITEM STYLING */
  
  .menuItem {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 1.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 
  .menuItem p {
    display: flex;
  } 

  .menuText {
    padding: 5%;
  }

  
  @media only screen and (max-width: 1000px) {
    .menuList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
